version: "3.9"

services:

  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    command: ["node", "app.js"]

  websocket-server:
    build: ./websocket-server
    ports:
      - "4000:4000"
    depends_on:
      - rabbitmq
    command: ["node", "server.js"]

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
